*
  box-sizing: border-box
  font-smoothing: antialiased
  text-rendering: optimizeLegibility

html
  font-size: 62.5%
  background: $white

body
  font: 300 13px/1.6 $body-font
  color: $black
  transition: all .4s .3s ease-in

::selection
  background-color: #5757ed
  color: white

body,html
	min-height: 100vh

img
  width: auto
  max-width: 100%
  height: auto
