.col-9
  width: 70%
  margin: 0 auto

.scale-big
  transform: scale(1)
  transition: transform 0.4s ease-in

.bold
  font-weight: bold

.bold-links
  text-decoration: none
  color: $black
  &:hover
    text-decoration: underline

.menu-cont
  display: none
  width: auto
  height: auto
  padding: 0.6em
  box-sizing: border-box
  cursor: pointer
  @media only screen and (max-width: 1028px)
      display: block
  .icons
    width: 35px
    height: 5px
    margin: 6px 0
    border-radius: 0.3em
    background-color: $black

.second-header
  color: $black
  font-size: 2.5em
  font-family: $heading-font
  text-align: center
  margin-bottom: 20px
