.col-9
  width: 70%
  margin: 0 auto
  @media only screen and (max-width: 780px)
      width: 85.5%

.scale-big
  transform: scale(1)
  transition: transform 0.4s ease-in

.bold
  font-weight: bold

.bold-links
  text-decoration: none
  color: $black
  &:hover
    text-decoration: underline

.menu-cont
  display: none
  width: auto
  height: auto
  padding: 0.6em
  box-sizing: border-box
  cursor: pointer
  //background: pink
  @media only screen and (max-width: 1028px)
      display: block
  .icons
    width: 35px
    height: 5px
    margin: 6px 0
    border-radius: 0.3em
    background-color: $black
    transform: rotate(0deg) translateY(0)
    transform-origin: center
    transition: all 0.4s

.menu-cont.is-active .icons:nth-child(1)
  transform: rotate(45deg) translateY(15px)

.menu-cont.is-active .icons:nth-child(2)
  opacity: 0

.menu-cont.is-active .icons:nth-child(3)
  transform: rotate(-45deg) translateY(-15px)

.second-header
  color: $black
  font-size: 2.5em
  font-family: $heading-font
  text-align: center
  //margin-bottom: 20px

// Custom ScrollBar CSS
.box-outter::-webkit-scrollbar-track
  border-radius: 10px
  -webkit-box-shadow: inset 0 0 6px rgba($black, 0.3)
  background-color: #f5f5f5

.box-outter::-webkit-scrollbar
  width: 0.2em
  background-color: #f5f5f5

.box-outter::-webkit-scrollbar-thumb
	-webkit-box-shadow: inset 0 0 6px rgba($black, 0.3)
	background-color: $black
  border-radius: 10px

.slide-up-down
  opacity: 1
  margin-top: 0
  transition: all 0.4s

.text-align-right
  text-align: right
  @media only screen and (max-width: 980px)
      text-align: left

.float-left
  float: left

.float-right
  float: right
  @media only screen and (max-width: 980px)
      float: none
