.nav

  .nav-menu
    list-style: none
    width: auto
    height: auto
    padding: 10px
    box-sizing: border-box
    li
      display: inline-block
      padding: 0 1.5em
      a
        display: inline-block
        text-decoration: none
        font-family: $body-font
        font-weight: bold
        color: rgba($black, 0.6)
        font-size: 1.0em
        transition: color 0.4s ease-in
        letter-spacing: 1px
        text-transform: uppercase
        &:hover
          color: $black
